* {
    padding: 0;
    /* margin: 0; */
    font-family: sans-serif;
    color: white;
  }
  
  #item-1 {
    background-color: #4682b4;
    order: 1;
  }
  
  #item-2 {
    background-color: #fe7e02;
  }
  
  #item-3 {
    background-color: #45525b;
    order: 2;
  }
  
  main{
    display: grid;
    
    /* margin: 10px;  */
  }

  @media screen (max-width: 800px) {
      main{
        grid-template-columns: 20% 1fr 20%;
        height: 85vh;
        gap: 10px;
      }
  }